/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}


#particles-js {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: transparent;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  z-index: -10;
  animation: fadein 3s ease-in;
}


// #particles-js {
//   height: 200%;
//   padding-top: 0px;
//   padding-bottom:0px;
//   position: fixed;
//   background-color: transparent;
//   z-index: 50;
//   top: 0;
//   pointer-events: auto
// }


// #particles-js {
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   background-color: transparent;
//   background-size: cover;
//   background-position: 50% 50%;
// }
// #particles-js canvas {
//   position: relative;
//   z-index: 10;
//   display: block;
//   vertical-align: bottom;
//   -webkit-transform: scale(1);
//   -ms-transform: scale(1);
//   transform: scale(1);
//   opacity: 1;
//   -webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
//   transition: opacity .8s ease, transform 1.4s ease; 
// }


body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
